<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form action="{% url 'servicios:centro_emergencia_eliminar' object.id %}" method="post">
            {% csrf_token %}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Eliminar centro de emergencia</h4>
            </div>
            <div class="modal-body">
                <div class="row center-block">
                    Desea eliminar el centro de emergencias "{{ object.name }}"
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-lg-12 text-right">
                    <button class="btn btn-danger" type="submit">Sí, Eliminar</button>
                    <button type="button" class="btn btn-warning" onclick="return closeModal()">Cerrar</button>
                </div>
            </div>
        </form>
    </div>
</div>

