{% extends "base/base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">Detalle tipo de vehiculo</div>
        <div class="panel-body">
            <div class="col-md-4">
                <object data="{{ MEDIA_URL }}icons/car.svg" width="100%" height="150" type="image/svg+xml">
                    SVG no soportado.
                </object>
            </div>
            <div class="col-md-6">
                <strong>Información</strong><br>
                <div class="table-responsive">
                    <table class="table table-user-information">
                        <tbody>
                        {% if object.id %}
                            <tr>
                                <th class="col-md-3 text-right">Id</th>
                                <td>{{ object.id }}</td>
                            </tr>
                        {% endif %}
                        {% if object.name %}
                            <tr>
                                <th class="col-md-3 text-right">Descripción</th>
                                <td>{{ object.name }}</td>
                            </tr>
                        {% endif %}
                        {% if object.is_active %}
                            <tr>
                                <th class="col-md-3 text-right">Activo</th>
                                <td><span class="glyphicon glyphicon-ok" aria-hidden="true">Activo</span></td>
                            </tr>
                        {% else %}
                            <tr>
                                <th class="col-md-3 text-right">Activo</th>
                                <td><span class="glyphicon glyphicon-remove" aria-hidden="true">Inactivo</span></td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <a href="{% url 'servicios:tipo_vehiculo' %}" class="btn btn-warning">Cancelar</a>
{% endblock content %}
