<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Emergencias 911</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Inicio <span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Administración<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Personal</a></li>
            <li><a href="#">Grupos y Privilegios</a></li>
            <li><a href="#">Rol Personal</a></li>
            <li class="divider"></li>
            <li><a href="#">Generar backup</a></li>
            <li><a href="#">Restaurar backup</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Servicios<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Centros de Emergencia</a></li>
            <li><a href="#">Vehiculos</a></li>
            <li><a href="#">Tipo vehiculos</a></li>
            <li><a href="#">Dispositivos GPS</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Logistica<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Inicidentes</a></li>
            <li><a href="#">Tipo Incidentes</a></li>
            <li><a href="#">Asignacion Incidentes</a></li>
            <li class="divider"></li>
            <li><a href="#">Mapa centros emergencia</a></li>
            <li><a href="#">Mapa Vehiculos</a></li>
            <li><a href="#">Ruta Optima</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Reportes<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Historial incidentes</a></li>
            <li><a href="#">Estadisticos</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
            <li><a href="#"></span> {{ user.username }}</a></li>
            <li><a href="#"></span> Salir</a></li>
        {% else %}
            <li><a href="#"></span> Ingresar</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>