{% extends 'base/base.html' %}
{% block navbar %}
{% endblock %}
{% block content %}
    {% if validlink %}
        <div class="container">
            <div id="loginbox" style="margin-top:50px;"
                 class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div style="margin-bottom: 25px" id="logo">
                    <object data="{{ MEDIA_URL }}icons/password.svg" width="100%" height="150" type="image/svg+xml">
                        SVG no soportado.
                    </object>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Nueva contraseña</div>
                    </div>
                    <div style="padding-top:30px" class="panel-body">
                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                        <form id="loginform" method="post" class="form-horizontal" role="form">
                            {% csrf_token %}
                            {{ form.new_password1.errors }}
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-asterisk"></i></span>
                                <input id="login-username" type="password" class="form-control" name="new_password1"
                                       value=""
                                       placeholder="Contraseña nueva">
                            </div>
                            {{ form.new_password2.errors }}
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-asterisk"></i></span>
                                <input id="login-username" type="password" class="form-control" name="new_password2"
                                       value=""
                                       placeholder="Vuelve a escribir tu contraseña">
                            </div>
                            <div style="margin-top:10px" class="form-group">
                                <!-- Button -->
                                <div style="margin-bottom: 10px" class="col-sm-12 controls">
                                    <input id="btn-login" class="btn btn-success btn-block" type="submit"
                                           value="Cambiar Contraseña">
                                    <a href="{% url 'login' %}" class="btn btn-warning btn-block">Cancelar</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div id="loginbox" style="margin-top:50px;"
                 class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

                <div style="margin-bottom: 25px" id="logo">
                    <object data="{{ MEDIA_URL }}icons/password.svg" width="100%" height="150" type="image/svg+xml">
                        SVG no soportado.
                    </object>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Recuperar contraseña</div>
                    </div>
                    <div style="padding-top:10px" class="panel-body">
                        <div style="margin-top:10px" class="form-group">
                            <h4 class="col-sm-12 controls text-center">ENLACE INVÁLIDO</h4>
                            <div style="margin-bottom: 10px" class="col-sm-12 controls">
                                <a href="{% url 'index' %}" class="btn btn-warning btn-block">Regresar</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}