{% extends 'base/base.html' %}
{% load staticfiles %}
{% block navbar %}
{% endblock %}
{% block content %}
<div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

        <div style="margin-bottom: 25px" id="logo">
            <object data="{% static 'icons/password.svg' %}" width="100%" height="150" type="image/svg+xml">
                SVG no soportado.
            </object>
        </div>

        <div class="panel panel-info">

            <div class="panel-heading">
                <div class="panel-title">Recuperar contraseña</div>
            </div>
            <div style="padding-top:30px" class="panel-body">
                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                <form id="loginform" method="post" class="form-horizontal" role="form">
                    {% csrf_token %}
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input id="login-username" type="text" class="form-control" name="email" value=""
                               placeholder="Ingresar correo electronico">
                    </div>
                    <div style="margin-top:10px" class="form-group">
                        <!-- Button -->
                        <div style="margin-bottom: 10px" class="col-sm-12 controls">
                            <input id="btn-login" class="btn btn-success btn-block" type="submit" value="Restablecer contraseña">
                            <a href="javascript:history.back()" class="btn btn-warning btn-block">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}