{% extends 'base/base.html' %}
{% load staticfiles %}
{% block navbar %}
{% endblock %}
{% block content %}
    <div class="container">
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

            <div style="margin-bottom: 25px" id="logo">
                <object data="{% static 'icons/password.svg' %}" width="100%" height="150" type="image/svg+xml">
                    SVG no soportado.
                </object>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Recuperar contraseña</div>
                </div>
                <div style="padding-top:10px" class="panel-body">

                    <div style="margin-top:10px" class="form-group">
                        <h4 class="col-sm-12 controls">Te enviaremos un enlace por correo electrónico para que puedas
                            restablecer tu contraseña a través de la cuenta de correo electrónico.</h4>
                        <div style="margin-bottom: 10px" class="col-sm-12 controls">
                            <a href="{% url 'index' %}" class="btn btn-warning btn-block">Regresar</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}