{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="row show-grid">
        <div class="col-md-6">
            <form action="" method="POST">
                {% crispy form %}
                <button type="submit" class="btn btn-success" >Guardar</button>
                <a href="{% url 'logistica:incidente' %}" class="btn btn-warning">Cancelar</a>
            </form>
        </div>
        <div class="col-md-6">
            <div id="map"></div>
        </div>
    </div>
{% endblock %}