{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}
    <script type="text/javascript">

        function mapaCentroEmergencia() {
            var map = new google.maps.Map(document.getElementById('maps'), {
                center: {lat: -17.783308, lng: -63.182118},
                zoom: 12,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                scrollwheel: false,
                streetViewControl: false,
                zoomControl: true,
                mapTypeControl: true,
                styles: [
                    {stylers: [{visibility: 'simplified'}]},
                    {elementType: 'labels', stylers: [{visibility: 'on'}]}
                ]
            });

            var infowindow = new google.maps.InfoWindow();
            var marker;
            i = 0;
            {% if object_list %}
                {% for centroemergencia in object_list %}
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng({{ centroemergencia.lat }}, {{ centroemergencia.log }}),
                        map: map
                    });

                    var contenido_{{ centroemergencia.id }} = '<b>{{ centroemergencia.name }}</b><p><b>Dirección: </b>{{ centroemergencia.direccion }}';

                    google.maps.event.addListener(marker, 'click', (function (marker) {
                        return function () {
                            infowindow.setContent(contenido_{{ centroemergencia.id }});
                            infowindow.open(map, marker);
                            map.setZoom(15);
                            map.setCenter(marker.getPosition());
                        }
                    })(marker));
                {% endfor %}
            {% endif %}
        }
    </script>
    <div id="maps" style="max-width:none!important; height:450px; border: 1px solid black"></div>
{% endblock %}
{% block extrajs %}
    <script src="http://maps.google.com/maps/api/js?sensor=false&callback=mapaCentroEmergencia" async defer></script>
{% endblock %}