{% extends 'base/base.html' %}
{% block content %}
    <script type="text/javascript">

        function mapaIncidentes() {
            var map = new google.maps.Map(document.getElementById('maps'), {
                center: {lat: -17.783308, lng: -63.182118},
                zoom: 12,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            var infowindow = new google.maps.InfoWindow();
            var marker;
            i = 0;
            {% if object_list %}
                {% for incidente in object_list %}
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng({{ incidente.lat }}, {{ incidente.log }}),
                        map: map
                    });

                    var contenido_{{ incidente.id }} = '<b>Incidente: </b>{{ incidente.descripcion }}<p><b>Dirección: </b>{{ incidente.direccion }}';

                    google.maps.event.addListener(marker, 'click', (function (marker) {
                        return function () {
                            infowindow.setContent(contenido_{{ incidente.id }});
                            infowindow.open(map, marker);
                            map.setZoom(15);
                            map.setCenter(marker.getPosition());
                        }
                    })(marker));
                {% endfor %}
                alert(contenido_{{ incidente.id }});
            {% endif %}
        }
    </script>
    <div id="maps" style="max-width:none!important; height:450px; border: 1px solid black"></div>
{% endblock %}
{% block extrajs %}
    <script src="http://maps.google.com/maps/api/js?sensor=false&callback=mapaIncidentes" async defer></script>
{% endblock %}