{% extends "base/base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">Detalle usuario</div>
        <div class="panel-body">
            <div class="col-md-4">
                <object data="{{ MEDIA_URL }}icons/structure.svg" width="100%" height="150" type="image/svg+xml">
                    SVG no soportado.
                </object>
            </div>
            <div class="col-md-6">
                <strong>Información</strong><br>
                <div class="table-responsive">
                    <table class="table table-user-information">
                        <tbody>
                        {% if object.id %}
                            <tr>
                                <th class="col-md-3 text-right">Id</th>
                                <td>{{ object.id }}</td>
                            </tr>
                        {% endif %}
                        {% if object.name %}
                            <tr>
                                <th class="col-md-3 text-right">Usuario</th>
                                <td>{{ object.name }}</td>
                            </tr>
                        {% endif %}
                        {% if object.permissions %}
                            <tr>
                                <th class="col-md-3 text-right">Permisos</th>
                                <td>
                                    <ul>
                                        {% for permisos in object.permissions.all %}
                                            <li> {{ permisos.codename }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <a href="javascript:history.back()" class="btn btn-warning">Cancelar</a>
{% endblock content %}
