{% load staticfiles %}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4>Datos del usuario "{{ object.username }}"</h4>
        </div>
        <div class="modal-body">
            <div class="row center-block">

                <div class="col-md-4">
                    <object data="{% static 'icons/id-card.svg' %}" width="100%" height="150" type="image/svg+xml">
                        SVG no soportado.
                    </object>
                </div>
                <div class="col-md-6">
                    <strong>Información</strong><br>
                    <div class="table-responsive">
                        <table class="table table-user-information">
                            <tbody>
                            {% if object.id %}
                                <tr>
                                    <th class="col-md-3 text-right">Id</th>
                                    <td>{{ object.id }}</td>
                                </tr>
                            {% endif %}
                            {% if object.username %}
                                <tr>
                                    <th class="col-md-3 text-right">Usuario</th>
                                    <td>{{ object.username }}</td>
                                </tr>
                            {% endif %}
                            {% if object.first_name %}
                                <tr>
                                    <th class="col-md-3 text-right">Nobres(s)</th>
                                    <td>{{ object.first_name }}</td>
                                </tr>
                            {% endif %}
                            {% if object.last_name %}
                                <tr>
                                    <th class="col-md-3 text-right">Apellido(s)</th>
                                    <td>{{ object.last_name }}</td>
                                </tr>
                            {% endif %}
                            {% if object.last_name %}
                                <tr>
                                    <th class="col-md-3 text-right">Grupo(s)</th>
                                    <td>
                                        {% for group in object.groups.all %}
                                            {{ group.name }},
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endif %}
                            {% if object.is_active %}
                                <tr>
                                    <th class="col-md-3 text-right">Activo</th>
                                    <td><span class="glyphicon glyphicon-ok" aria-hidden="true">Activo</span></td>
                                </tr>
                            {% else %}
                                <tr>
                                    <th class="col-md-3 text-right">Activo</th>
                                    <td><span class="glyphicon glyphicon-remove" aria-hidden="true">Inactivo</span></td>
                                </tr>
                            {% endif %}
                            {% if object.date_joined %}
                                <tr>
                                    <th class="col-md-3 text-right">Fecha de registro</th>
                                    <td>{{ object.date_joined|date:"d/m/Y H:m:s" }}</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <div class="col-lg-12 text-right">
                <button type="button" class="btn btn-warning" onclick="return closeModal()">Cerrar</button>
            </div>
        </div>
    </div>
</div>